.container {
  max-width: 1120px;
  margin: 4rem auto 5rem;
  padding: 0 2rem;

  @media only screen and (max-width: 720px) {
    margin-bottom: 4rem;
  }

  button {
    border: 0;
    background-color: transparent;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;

    margin-top: 4rem;

    transition: filter 200ms;

    &:hover,
    &:focus {
      filter: brightness(0.8);
    }
  }
}
